NEXT_PUBLIC_API_MONGO_URI="mongodb://localhost:27017/linkBit"
NEXT_PUBLIC_API_GOOGLE_CLIENT_ID="277419510700-m2tb141ovfgpp4jhedo0q9l3rkm10vef.apps.googleusercontent.com"
NEXT_PUBLIC_API_GOOGLE_CLIENT_SECRET="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"